<!-- templates/eventos/index.html -->
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="home">
    <h1 class="title pt-5">{% if not myevents %} Eventos {% else %} Meus eventos {% endif %}</h1>
    <div class="events">
        {% for evento in eventos %}
        {% include 'events/event.html' %}
        {% empty %}
        <h3 style="font-family: 'Roboto';">Nenhum evento disponível.</h3>
        {% endfor %}
    </div>
    {% if user.is_authenticated and user.tipo == 'criador' %}
    <a href="{% url 'createEvent' %}" class="btn-add">
        <img src="{% static 'img/addbutton.png' %}" alt="Adicionar" width="45" height="50">
    </a>
    {% endif %}
</div>

{% endblock %}