.home {
    display: flex;
    flex-direction: column;
}

.events {
    width: 94.3%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

h1.title {
    color: #FF4407 !important;
    margin-left: 4rem;
}