body {
    margin: 0;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 65%;
    height: auto;
    
    border-radius: 12px;
    box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25);
    border: 1px #E2E2E2 solid;

    font-family: 'Luckiest Guy';
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    font-size: 2.5rem;
    margin: 1rem 0 0.4rem 0;
    color: #FF4407;
    text-align: center;
}

.login-subtitle {
    font-size: 0.8rem;
    text-align: center;
    color: #FF9B79;
}

.field {
    width: 75%;

    font-family: 'Roboto';
    font-size: 0.8rem;
}

.email-field {
    margin-top: 1.5rem;
}

.form-control {
    font-size: 0.8rem;
}

.enter-button {
    width: 75%;
    margin-top: 3rem;
    font-family: 'Roboto';
    font-size: 0.8rem;
    
    background-color: #E33E07;
    color: #FFFFFF;
}

.enter-button:hover {
    background-color: #b6350b;
    color: #FFFFFF;
}

.signin {
    font-family: 'Roboto';
    font-size: 0.8rem;
    color: #FF4407;

    display: flex;
    justify-content: end;

}