{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

{% block content %}
<nav class="even-navbar navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="logo ms-3" href="{% url 'home' %}">evenapp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link ms-4" href="{% url 'home' %}">EVENTOS</a>
                </li>
                {% if user.is_authenticated and user.tipo == 'normal' %}
                <li class="nav-item">
                    <a class="nav-link ms-4" href="{% url 'mysubscriptions' %}">MINHAS INSCRIÇÕES</a>
                </li>
                {% endif %}
                {% if user.is_authenticated and user.tipo == 'criador' %}
                <li class="nav-item">
                    <a class="nav-link ms-4" href="{% url 'myevents' %}">MEUS EVENTOS</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link ms-4" href="{% url 'editUser' %}">MEU PERFIL</a>
                </li>
            </ul>
        </div>

        <div class="ms-auto me-3">
            <a href="{% url 'logout' %}" >
                <img src="{% static 'img/logout.png' %}" alt="Sair" width="25" height="25">
            </a>
        </div>

    </div>
</nav>
{% endblock %}